.chat-room {
  position: relative;
  overflow: hidden;
  height: calc(100% - 60px);

  .messages-container {
    margin-top: 30px;
    width: 100%;
    height: calc(100% - 98px);
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 10px;
    }

    .message {
      margin-top: 10px;
      padding-bottom: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;

      &.mine {
        justify-content: flex-end;
        .message-balloon {
          justify-content: flex-end;
        }
      }

      .user-profile {
        margin: 0 5px 0 5px;
        width: 40px;
        height: 32px;
      }

      .message-content {
        width: 65%;
        .chat-user {
          margin: 0 0 4px 4px;
          text-align: left;
          font-size: 0.9rem;
        }

        .message-balloon {
          margin: 0;
          display: flex;
          flex-direction: row;
          align-content: center;

          .chat-content {
            margin: 4px 12px;
            padding: 4px;
            width: auto;
            line-height: 24px;
            text-align: left;
            background-color: #fff;
            box-shadow: 
            -8px 0 0 -4px #fff,
            8px 0 0 -4px #fff,
            -4px 0 0 0 black,
            4px 0 0 0 black,
            0 -4px 0 0 black,
            0 4px 0 0 black,
            -12px 0 0 -4px black,
            12px 0 0 -4px black;
          }
        }
      }
    }
  }

  .send-message {
    position: fixed;
    bottom: 0;
    background-color: #fff;

    .message-input {
      margin: 5px 0;
      width: 80%;
      border: none;
      &:focus {
        outline: none;
        border: none !important;
      }
    }
  }
}

@media (min-width: 480px) {
  .send-message {
    width: 480px;
    left: calc(50% - 240px);
    display: flex;
    justify-content: center;
  }
}
