:root {
  --main-color: rgb(177, 207, 247);
}

.App {
  text-align: center;
  overflow: hidden;
}

.auth {
  height: 60px;
  background-color: var(--main-color);
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 480px) {
  #root {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .App {
    width: 480px;
    height: 100vh;
    background-color: var(--main-color);
    overflow: auto;
    position: relative;
  }

  .auth {
    width: 480px;
    top: 0;
    left: calc(50% - 240px);
  }
}

@media (max-width: 480px) {
  #root {
    width: 100vw;
    height: 100%;
  }

  .App {
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    position: relative;
  }

  .auth {
    width: 100vw;
    position: fixed;
    z-index: 100;
    // top: 0;
    // left: 0;
  }
}
