.App {
  text-align: center;
  // display: flex;
  // flex-direction: column;
}

.auth {
  height: 60px;
}

@media (min-width: 480px) {
  #root {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .App {
    width: 480px;
    height: 100vh;
    background-color: rgb(177, 207, 247);
    overflow: auto;
    position: relative;
  }

  .auth {
    width: 480px;
    top: 0;
    left: calc(50% - 240px);
  }
}

@media (max-width: 480px) {
  #root {
    width: 100vw;
    height: 100%;
  }

  .App {
    width: 100%;
    height: 100vh;
    background-color: #efe;
    position: relative;
  }

  .auth {
    width: 100vw;
    top: 0;
    left: 0;
  }
}
